---
export interface BreadcrumbItem {
  name: string;
  url?: string;
}

interface Props {
  items: BreadcrumbItem[];
  class?: string;
}

const { items, class: cls } = Astro.props;
---

<nav aria-label="Breadcrumb" class:list={["mb-1", cls]}>
  <ol
    class:list={[
      "tracking-wider flex flex-wrap items-center gap-2 text-xs uppercase",
    ]}
  >
    {
      items.map((item, i) => (
        <li class="flex items-center gap-3 not-last:opacity-70">
          {i > 0 && (
            <span aria-hidden="true" class="">
              /
            </span>
          )}
          {item.url ? (
            <a href={item.url} class="hover:text-brand transition-colors">
              {item.name}
            </a>
          ) : (
            <span>{item.name}</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
