---
import type { Locale } from "@i18n/config";
import type { PostCard as PostCardType } from "@lib/types";
import PostCard from "@components/blog/ui/PostCard.astro";

interface Props {
  posts: PostCardType[];
  lang: Locale;
}

const { posts, lang } = Astro.props;
---

<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
  {
    posts.map((post) => (
      <li>
        <PostCard {post} {lang} level={3} imageMode="none" meta="date" />
      </li>
    ))
  }
</ul>
