---
import { DEFAULT_LOCALE } from "@i18n/config";
import type { Locale } from "@i18n/config";
import type { PostCard as PostCardType } from "@lib/types";
import PostCard from "@components/blog/ui/PostCard.astro";

interface Props {
  posts: PostCardType[];
  lang?: Locale;
}

const { posts, lang = DEFAULT_LOCALE } = Astro.props;
---

<ul
  class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:col-span-2 md:row-start-2 lg:grid-cols-4 max-md:mb-12"
>
  {
    posts.map((post) => (
      <li>
        <PostCard {post} {lang} level={3} imageMode="none" meta="date" />
      </li>
    ))
  }
</ul>
